@use '../../styles/functions' as *;
@use '../../styles/variables' as *;

.auth-page {
  max-width: rem(400);
  margin: rem($spacing-xl) auto;
  padding: 0 rem($spacing-md);
}

.auth-card {
  width: 100%;

  > p {
    margin-top: rem($spacing-md);
  }

  .subtitle {
    margin-bottom: rem($spacing-lg);
    color: $text-color-light;
  }
}
