@use 'sass:math';

// Base font size (usually 16px in browsers)
$base-font-size: 16px;

/// Convert px to rem
/// @param {Number} $px - Pixel value to convert
/// @return {Number} - Value in rem
@function rem($px) {
  @if math.is-unitless($px) {
    @return calc($px / 16) * 1rem;
  } @else {
    @return calc($px / $base-font-size) * 1rem;
  }
}

/// Shorthand alias for rem function
/// @param {Number} $px - Pixel value to convert
/// @return {Number} - Value in rem
@function r($px) {
  @return rem($px);
}
