@use '../../styles/functions' as *;
@use '../../styles/variables' as *;

.message {
  margin-top: rem($spacing-md);
  padding: rem($spacing-sm);
  border-radius: rem($radius-sm);
  text-align: center;
  display: none;

  &.visible {
    display: block;
  }

  &.error {
    background-color: $msg-error-bg;
    color: $msg-error-text;
    border: 1px solid $msg-error-border;
  }

  &.success {
    background-color: $msg-success-bg;
    color: $msg-success-text;
    border: 1px solid $msg-success-border;
  }

  &.info {
    background-color: $msg-info-bg;
    color: $msg-info-text;
    border: 1px solid $msg-info-border;
  }

  &.warning {
    background-color: $msg-warning-bg;
    color: $msg-warning-text;
    border: 1px solid $msg-warning-border;
  }
}
